<form (submit)="findAvailableVehicles(findAvailableVehiclesForm.value.from, findAvailableVehiclesForm.value.to)"
      [formGroup]="findAvailableVehiclesForm">
   <input formControlName="from" type="date"/>
   <input formControlName="to" type="date"/>
   <input type="submit"/>
</form>

<app-table (onEvent)="bookReservation($event)"
           [config]="availableVehiclesTable"
           [data]="availableVehicles">
</app-table>

<app-table (onEvent)="selectReservation($event)"
           [config]="reservationsTable"
           [data]="reservations">
</app-table>

<div
   *ngIf="editReservationFrom && selectedReservation"
   class="form">
         <span *ngIf="editReservationError"
               class="error">
         {{editReservationError.message}}
      </span>
   <b>Vehicle</b>
   <p>{{selectedReservation.vehicle.brand}} - {{selectedReservation.vehicle.model}}</p>
   <b>Plate number</b>
   <p>{{selectedReservation.vehicle.plateNumber}}</p>
   <app-form (onSubmit)="editReservation($event)" [config]="editReservationFrom"></app-form>
</div>
