<div class="wrapper">
   <nav>
      <span class="logo">Car rental</span>
      <ul class="nav-items">
         <li>
            <a class="link"
               routerLink="/vehicles"
               routerLinkActive="--active">
               Vehicles
            </a>
         </li>
         <li>
            <a class="link"
               routerLink="/reservations"
               routerLinkActive="--active">
               Reservations
            </a>
         </li>
      </ul>
      <ul class="nav-items auth">
         <li>
            <a class="link"
               routerLink="sign-in"
               routerLinkActive="--active">
               Sign in
            </a>
         </li>
         <li>
            <a class="link"
               routerLink="sing-up"
               routerLinkActive="--active">
               Sign up
            </a>
         </li>
      </ul>
   </nav>
</div>
