<div class="wrapper">
   <nav>
      <span class="logo">Car rental</span>
      <ul class="nav-items">
         <li>
            <a class="link"
               routerLink="/vehicles"
               routerLinkActive="--active">
               Vehicles
            </a>
         </li>
         <li *ngIf="currentUser?.role === userRole.CUSTOMER">
            <a class="link"
               routerLink="/reservations"
               routerLinkActive="--active">
               Reservations
            </a>
         </li>
         <li *ngIf="currentUser?.role === userRole.ADMIN">
            <a class="link"
               routerLink="/admin-dashboard"
               routerLinkActive="--active">
               Dashboard
            </a>
         </li>
      </ul>
      <ul class="nav-items auth">
         <ng-container *ngIf="!currentUser">
            <li>
               <a class="link"
                  routerLink="sign-in"
                  routerLinkActive="--active">
                  Sign in
               </a>
            </li>
            <li>
               <a class="link"
                  routerLink="sign-up"
                  routerLinkActive="--active">
                  Sign up
               </a>
            </li>
         </ng-container>
         <ng-container *ngIf="currentUser">
            <li>
               <a class="link"
                  routerLink="profile"
                  routerLinkActive="--active">
                  Profile
               </a>
            </li>
            <li>
               <a class="link"
                  (click)="signOut()">
                  Sign out
               </a>
            </li>
         </ng-container>
      </ul>
   </nav>
</div>
