.form {
   display: grid;
   row-gap: 1rem;

   //padding: 1rem;

   //border: 1px solid #DDDDDD;
   //border-radius: .5rem;

   .field {
      display: grid;
      row-gap: .5rem;

      .label {
         font-weight: 600;
      }

      .input,
      .select {
         width: 100%;

         &.ng-invalid.ng-touched {
            outline: 2px solid red;
         }
      }

      .checkbox,
      .radio-option {
         display: flex;
         align-items: center;
         column-gap: .25rem;
      }
   }

   input[type=submit] {
      margin-top: 1rem;

      &:not(:disabled) {
         cursor: pointer;
      }
   }
}

