<form
   (submit)="handleSubmit()"
   [formGroup]="formGroup"
>
   <div
      *ngFor="let formField of config"
      class="field">
      <label class="label" for="{{formField.key}}">
         {{formField.label}}
      </label>
      <ng-container [ngSwitch]="formField.type">
         <select
            *ngSwitchCase="formFieldType.DROPDOWN"
            [formControlName]="formField.key">
            <option
               *ngFor="let option of formField.options"
               [value]="option.value">
               {{option.label}}
            </option>
         </select>

         <ng-container *ngSwitchCase="formFieldType.RADIO_GROUP">
            <div
               *ngFor="let option of formField.options; let i = index"
               class="radio-option">
               <input
                  [formControlName]="formField.key"
                  [id]="option.value"
                  [name]="formField.key"
                  [value]="option.value"
                  type="radio"/>

               <label [for]="option.value">{{option.label}}</label>
            </div>
         </ng-container>

         <div
            *ngSwitchCase="formFieldType.CHECKBOX"
            class="checkbox">
            <input
               [checked]="formField.selected"
               [formControlName]="formField.key"
               [id]="formField.key"
               [value]="formField.value"
               type="checkbox"/>

            <label [for]="formField.key">{{formField.label}}</label>
         </div>

         <input
            *ngSwitchCase="formFieldType.INPUT"
            [formControlName]="formField.key"
            [placeholder]="formField.placeholder"
            [type]="formField.controlType"
            class="input"/>

      </ng-container>
      <span *ngIf="formGroup.get(formField.key)?.touched && formGroup.get(formField.key)?.errors"
            class="field-error">
         Invalid field
      </span>
   </div>
   <input
      [disabled]="formGroup.invalid"
      type="submit"/>
</form>
