<div *ngIf="config?.filters?.length">
   <h4>Search</h4>
   <form (submit)="addFilter(column.value, value.value); value.value=''">
      <input #value type="text"/>
      <select #column>
         <option *ngFor="let filter of config.filters; let i = index" value="{{filter.key}}">
            {{filter.label}}
         </option>
      </select>
      <input type="submit" value="Add filter">
   </form>

   <ul>
      <li *ngFor="let filter of filters">
         <button (click)="removeFilter(filter)">Remove</button>
         <i>{{filter.column}}: </i><b>{{filter.value}}</b>
      </li>
   </ul>
</div>

<ng-container *ngIf="(data
        | tFilter: filters
        | tSort: order) as rows">
   <table>
      <tr>
         <th
            (click)="toggleOrder(header.key)"
            *ngFor="let header of config.headers"
         >
            {{ header.label }}
            <ng-container *ngIf="order && order.column === header.key">
               {{ orderType[order.type] }}
            </ng-container>
         </th>
      </tr>
      <tr *ngFor="let row of rows | tPagination: currentPage : config?.pagination?.itemsPerPage">
         <td *ngFor="let header of config.headers">
            {{ header.format ? header.format(row[header.key]) : row[header.key] }}
         </td>
         <ng-container *ngFor="let action of config.actions">
            <td *ngIf="!action?.show || action?.show(row)">
               <button
                  (click)="emit(action.type, row)">
                  {{action.label}}
               </button>
            </td>
         </ng-container>
      </tr>
   </table>
   <ng-container *ngIf="config.pagination">
      <div>
         <button (click)="selectPage(currentPage - 1)"
                 [disabled]="currentPage === 0 || pageIndexes.length <= 1">
            Prev
         </button>
         |
         <ng-container *ngFor="let pageIndex of updatePageIndexes(rows)">
            <button (click)="selectPage(pageIndex)"
                    [disabled]="currentPage === pageIndex">
               {{pageIndex + 1}}
            </button>
            |
         </ng-container>
         <button (click)="selectPage(currentPage + 1)"
                 [disabled]="currentPage === pageIndexes.length - 1 || pageIndexes.length <= 1">
            Next
         </button>
      </div>
   </ng-container>
</ng-container>
